# Build and compiled files
*/build/
assignment1/dist/
*.class
assignment1/*.jar
assignment1/*.war
assignment1/*.ear

# Logs
*.log
*/logs.txt
*/logs/

# NetBeans-specific files
*/nbproject/private/
*/nbactions.xml
*/nb-configuration.xml

# IDE-specific files
assignment1/.idea/
assignment1/.settings/
assignment1/.classpath
assignment1/.project

# System temporary files
**/.DS_Store
assignment1/Thumbs.db
/assignment2/nbproject/private/
