# Build and compiled files
*/build/
assignment1/dist/
assignment1/*.jar
assignment1/*.war
assignment1/*.ear

# Logs
*.log
log*.txt


assignment2/src/src/

# NetBeans project metadata
nbproject/
*.iml
*.ipr
*.iws

# Build files (NetBeans + Ant)
build/
build.xml
build-impl.xml
genfiles.properties
project.properties
project.xml
manifest.mf

# Java class files
*.class

# IDE folders
.idea/
.vscode/


# Backup / temp files
*~
*.swp
*.bak
*.tmp

# System temporary files
.DS_Store
